// Variables for the AssetAdmin module

$gallery-thumb-width:			176px;
$gallery-thumb-height:			132px;

$gallery-item-width: 			$gallery-thumb-width + 2; /* include borders */
$gallery-item-height: 			174px;
$gallery-title-height:			40px;

$gallery-folder-height:			54px;
$gallery-folder-title-height:	$gallery-folder-height - 2;